# Python e Mercado Financeiro

## 1) Chapter 1

In [1]:
# operações simples

1 + 1

2

In [2]:
# divisão

3 / 2

1.5

In [3]:
# números negativos
4 - 10

-6

In [4]:
# exponenciação
2 ** 3

8

In [5]:
# resto
10 % 3

1

In [6]:
# atribuição de variáveis

x = 5
y = 10

In [7]:
print(x)

5

In [8]:
print (x, y)

5 10

In [9]:
print("x = ", x, "y = ", y)

x =  5 y =  10

In [10]:
print(x + y)

15

In [11]:
print(x - y)

-5

In [12]:
print(x / y)

0.5

In [13]:
import math as mt

# retorna e elevado a x
mt.exp(2)

7.38905609893065

In [14]:
# retorna o logaritmo de x na base 2
mt.log2(2)

1.0

In [15]:
# retorna o logaritmo de x na base 10
mt.log10(2)

0.3010299956639812

In [16]:
# retorna o logaritmo natural na base 10
mt.log(2)

0.6931471805599453

In [17]:
# retorna o logaritmo de x na base b, apenas quando b é diferente de 2 e 10
mt.log(2,10)

0.30102999566398114

In [18]:
# retorna x elevado a y
mt.pow(2,3)

8.0

In [19]:
# retorna a raiz quadrada de x
mt.sqrt(16)

4.0

In [20]:
# funções trigonométricas
# retorna o cosseno de x
mt.cos(3)

-0.9899924966004454

In [21]:
# retorna o seno de x
mt.sin(3)

0.1411200080598672

In [22]:
# retorna a tangente de x
mt.tan(3)

-0.1425465430742778

In [23]:
# converte o ângulo x de radianos para graus

mt.degrees(1.57)

89.95437383553924

In [24]:
# converte o ângulo de x graus para radianos

mt.radians(90)

1.5707963267948966

In [25]:
# retorna o arco cosseno de x

mt.acos(0.55)

0.9884320889261531

In [26]:
# retorna o arco seno de x

mt.asin(0.55)

0.5823642378687435

In [27]:
# retorna o arco tangente de x

mt.atan(0.55)

0.5028432109278609

In [36]:
# listas

dados = list(range(1,20,2))

print(dados)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [37]:
# lista é uma sequência ordenada em que os elementos são sempre associados a um índice

dados[1]

3

In [38]:
dados[-1]

19

In [39]:
print(len(dados))

10

In [40]:
print(dados[2:4])

[5, 7]

In [41]:
3 in dados

True

In [42]:
18 in dados

False

In [43]:
# substituição na lista

dados[-1] = 20

In [44]:
print(dados)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 20]

In [47]:
dados.append(22)

In [48]:
print(dados)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 20, 22, 22]

In [49]:
# contando repetições

dados.count(22)

2

In [52]:
# adicionando lista em uma lista

dados.extend([list(range(1,4))])

In [53]:
print(dados)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 20, 22, 22, 1, 2, 3, [1, 2, 3]]

In [57]:
# organizando

import string

letras = list(string.ascii_uppercase)

In [58]:
print(letras)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [62]:
type(letras)

list

In [77]:
letras_slicing = list(letras[12:24]) + list(letras[1:8])

In [82]:
print(letras_slicing)

['B', 'C', 'D', 'E', 'F', 'G', 'H', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X']

In [83]:
type(letras_slicing)

list

In [84]:
letras_slicing.sort()

In [85]:
print(letras_slicing)

['B', 'C', 'D', 'E', 'F', 'G', 'H', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X']

In [86]:
letras_slicing.reverse()

In [87]:
print(letras_slicing)

['X', 'W', 'V', 'U', 'T', 'S', 'R', 'Q', 'P', 'O', 'N', 'M', 'H', 'G', 'F', 'E', 'D', 'C', 'B']

In [88]:
letras_slicing.remove("X")

In [89]:
print(letras_slicing)

['W', 'V', 'U', 'T', 'S', 'R', 'Q', 'P', 'O', 'N', 'M', 'H', 'G', 'F', 'E', 'D', 'C', 'B']

In [90]:
letras_slicing.index("W")

0

In [91]:
letras_slicing.insert(0, "X")

In [92]:
print(letras_slicing)

['X', 'W', 'V', 'U', 'T', 'S', 'R', 'Q', 'P', 'O', 'N', 'M', 'H', 'G', 'F', 'E', 'D', 'C', 'B']